* {
  margin: 0;
  padding: 0;
  font-family: monospace,sans-serif;
}
.App{
    padding: 1%;
}
.tableContainer {
  border: 1px solid;
  display: inline-block;
  margin: 0 auto;
}
.headingText {
  background: red;
}

input {
  outline: none;
  padding: 2px 10px;
  border: 1px solid rgb(198, 198, 198);
}
.mainContainer,.outputContainer {
  width: 1240px;
  
  margin: 0 auto;
}
.headinput {
  background: rgb(250 250 250);
  width: 271px;
  text-align: center;
}
.titleinput{
    width: 97.6%!important;
  text-align:unset!important;

}
.card{
    background-color: #e4e2e2;
    border-radius: 3px;
    max-width: 300px;
    width: fit-content;
    word-wrap: break-word;
    padding: 2%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    box-shadow: 0 0 3px #525252;
}
.saveButton{
    margin: 1%;
}
.footer{
  text-align: right;
  padding-right: 2%;
  font-family: monospace;
  color: white;
  background: #050505;
  position: fixed;
    width: 100%;
    bottom: 0;
  font-weight: 900;
}
